body {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
    background-color: #f5f5f5;
}
.wizard>.content>.body {
    direction: rtl;
    text-align: right;
}
.ml-auto, .mx-auto {
    margin-right: auto !important;
    margin-left: unset !important;
}
.dropdown-header>i, .dropdown-header>img, .dropdown-item>i, .dropdown-item>img {
    margin-right: unset;
    margin-left: 1rem;
}
.wizard>.steps>ul {
    direction: ltr;
}
.dropdown-menu.dropdown-menu-right.show{
	right: unset;
}
.dropdown-menu.dropdown-menu-left.show {
    right: unset;
}
.select2-container {
    text-align: right;
}
.select2-selection--single .select2-selection__arrow:after {
    left: .875rem;
    right: unset;
}
.dataTables_filter {
    float: right;
}
.table {
    direction: rtl;
    text-align: right;
}
.dataTable tbody td
 {
    padding-right: 12px;
}
.datatable-footer>div:first-child, .datatable-header>div:first-child {
    margin-left: unset;
    margin-right: 0;
}
.dataTables_filter>label {
    text-align: right;
    direction: rtl;
}
.dt-buttons {
    float: left;
}
.dataTables_length {
    float: left;
}
.dataTables_filter>label:after {
    left: .875rem;
    right: unset;
}